.flash-container {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 4;
}

.alert {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert .close {
  position: relative;
  color: inherit;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 3px;
  background: transparent;
  box-sizing: content-box;
  outline-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert .close:hover {
  background: rgba(255, 255, 255, 0.4);
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6
}

.alert-success .close {
  border-color: #3c763d;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1
}

.alert-info .close {
  border-color: #31708f;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc
}

.alert-warning .close {
  border-color: #8a6d3b;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1
}

.alert-danger .close {
  border-color: #a94442;
}
