.sidebar {
    width: var(--sidebarWidth);
    background: var(--backgroundColor);
    border-right: 1px solid #000;
    height: calc(100vh - var(--headerHeight));
    position: fixed;
    left: 0;
    top: var(--headerHeight);
}

.sidebar ul li {
    display: flex;
    height: 40px;
    align-items: center;
}

.sidebar ul li:hover {
    background: #f1f3f4;
}

.sidebar ul li a {
    padding: 10px;
    color: var(--sidebarFontColor);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: 500;
}

.sidebar ul li a .material-icons {
    width: 30px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.sidebar ul li a.active {
    background: #e8f0fe;
    color: var(--primaryColor);
}
